.box {
  width: 300px;
  height: 200px;
  border: 1px rgb(41, 255, 37) solid;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
